---
# tasks file for install Vagrant on Windows system

- name: Windows | Find all versions of Vagrant
  win_uri:
    url: https://releases.hashicorp.com/vagrant/index.json
    return_content: yes
  register: vagrant_index
  check_mode: no
  when: vagrant_version == 'latest'

- name: Windows | Finds the latest version of Vagrant when latest var is define
  set_fact:
    vagrant_version_to_install: "{{ (vagrant_index.content | from_json).versions | list | sort_versions | last }}"
  when: vagrant_version == 'latest'

- name: Windows | Use the specified Vagrant version when latest var is not define
  set_fact:
    vagrant_version_to_install: "{{ vagrant_version }}"
  when: vagrant_version != 'latest'

- name: Windows | Install vagrant
  win_package:
    path: https://releases.hashicorp.com/vagrant/{{ vagrant_version_to_install }}/vagrant_{{ vagrant_version_to_install }}_x86_64.msi
    product_id: Vagrant
    creates_path: C:\HashiCorp\Vagrant
    state: present
